@import "tailwindcss";

body,
#__next {
  cursor: none !important;
}


.navbar a,
.navbar button,
.navbar [role="button"] {
  cursor: none !important;
}

a,
button,
[role="button"],
input,
textarea {
  cursor: none !important;
  /* Forces the browser to hide the default hand icon */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orchid: var(--orchid);
  --color-orchid-dark: var(--orchid-dark);
  --color-cyan: var(--cyan);

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --orchid: #da70d6;
  --orchid-dark: #9932cc;
  --cyan: #00ffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  cursor: none !important;
  @apply antialiased;
}

/* Tubes Cursor Styles */
body,
html,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  touch-action: none;
}

#app {
  height: 100%;
  font-family: "Montserrat", serif;
}

#app a {
  text-decoration: none;
  color: #fff;
}

.hero {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
  line-height: 100%;
  user-select: none;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
}

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}